<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Recent Changes</title>
    {%include "components/pageheader.njk"%}
  </head>
  <body class="theme-{{meta.baseTheme}} markdown-preview-view">
    {%include "components/notegrowthhistory.njk"%}
    <div class="content">
      {% if dgHomeLink !== false%}
        <a href="/">🏡 Back Home</a>
      {% endif %}
      <br><br>
      <h1>Most Recent Changes</h1>
      <ol>
        {# Exclude 404 & Sitemap page #}
        {% set regExp = r/404|sitemap/g%}
        {%- for post in collections.all -%}
          {% if loop.index0 < 10 %}
            {%- if regExp.test(post.url) %}
              {# Exclude Home (/) #}
            {% elif post.url == '/' %}
            {% else %}
              <li>
                <a href="{{ post.url }}">{{ post.url }}</a>
              </li>
            {%- endif %}
          {%- endif %}
        {%- endfor -%}
      </ol>
    </div>
  </body>
</html>